<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>米瑞科尔ERP</title>
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="__static__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__static__/css/font.css">
    <link rel="stylesheet" href="__module__/layui/css/layui.css">
    <link rel="stylesheet" href="__static__/css/xadmin.css">
    <script type="text/javascript" src="__js__/jquery.min.js"></script>
    <script src="__module__/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__static__/js/xadmin.js"></script>
</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="./index.html">米瑞科尔ERP管理系统</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">{$Think.session.user_name}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                   <dd><a onclick="x_admin_show('个人信息','{:\\think\\Url::build("pub/profile")}', 600, 700)">个人信息</a></dd>
                   <dd><a onclick="x_admin_show('修改密码','{:\\think\\Url::build("pub/password")}', 600, 700)">修改密码</a></dd>
                    <dd><a href="javascript:logout();">退出</a></dd> 
                    
              <!-- <dd><a onclick="x_admin_show('切换帐号','http://www.baidu.com')">切换帐号</a></dd> -->
              
            </dl>
          </li>
          <!-- <li class="layui-nav-item to-index"><a href="/">前台首页</a></li> -->
        </ul>
        
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">

            {foreach name="menu" item="vo"}
                    {if condition="isset($vo['children'])"}
                        <li>
                            <a href="javascript:;">
                                <i class="{$vo.icon}"></i> 
                                <!-- <i class="iconfont">&#xe620;</i> -->
                                <cite>{$vo.title}</cite>
                                 <i class="iconfont nav_right">&#xe697;</i>
                            </a>
                             <ul class="sub-menu">
                                 {foreach name="vo['children']" item="v"}
                                    <li>
                                        <a _href="{:url($v.name)}">
                                        <i class="iconfont">&#xe6a7;</i>
                                            <cite> {$v.title}</cite>
                                        </a>
                                     </li >
                                {/foreach}
                            </ul>
                        </li>
                    {else /}
                <li>
                            <a _href="{:url($vo.name)}">
                            <i class="{$vo.icon}"></i> 
                                    <cite> {$vo.title}</cite>
                                     <i class="iconfont nav_right">&#xe697;</i>
                                </a>
                            </li >
                {/if}
            {/foreach}


        </ul>
      </div>
    </div>

    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li class="layui-this">我的桌面</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src="{:url('admin/index/welcome')}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2018 米瑞科尔ERP管理系统</div>  
    </div>
<script>
    function logout() {
        layer.confirm('您确定要退出登录？',{title:'登出提醒'},function (index) {
            location.href = '{:\\think\\Url::build("pub/logout")}'
        })
    }
</script>
</body>
</html>