{include file='public/head'}
<div class="x-body">
 			<div class="am-u-md-12 am-u-sm-12 row-mb">

 			<div class="am-g">
                          <div class="am-u-sm-10">

                                <div class="am-g index_imgs">
                                  <div class="am-u-sm-3">
                                    <a href="{:url('put/add')}">
                                        <img src="__images__/1.png" alt="">
                                        <p>采购入库</p>
                                    </a>
                                  </div>
                                  <div class="am-u-sm-3">
                                    <a href="{:url('delivery/add')}">
                                        <img src="__images__/2.png" alt="">
                                        <p>销货出库</p>
                                    </a>
                                  </div>
                                  <!-- <div class="am-u-sm-3">
                                    <a href="ck_a.html">
                                        <img src="__images__/3.png" alt="">
                                        <p>仓库调拨</p>
                                    </a>
                                  </div> -->
                                 <!--  <div class="am-u-sm-3">
                                    <a href="ck_b.html">
                                        <img src="__images__/4.png" alt="">
                                        <p>库存盘点</p>
                                    </a>
                                  </div>
                                </div>
                                <div class="am-g index_imgs">
                                  <div class="am-u-sm-3">
                                    <a href="ck_c.html">
                                        <img src="__images__/5.png" alt="">
                                        <p>其他入库</p>
                                    </a>
                                  </div>
                                  <div class="am-u-sm-3">
                                    <a href="ck_d.html">
                                        <img src="__images__/6.png" alt="">
                                        <p>其他进库</p>
                                    </a>
                                  </div>
                                  <div class="am-u-sm-3">
                                    <a href="#">
                                        <img src="__images__/7.png" alt="">
                                        <p>增值服务</p>
                                    </a>
                                  </div>
                                  <div class="am-u-sm-3">
                                    <a href="#">
                                        <img src="__images__/8.png" alt="">
                                        <p>意见反馈</p>
                                    </a>
                                  </div> -->
                                </div>
                          </div>
                          
                    </div>
 </div>
   
</div>

{include file='public/foot'}
