div,input,p,label,h1,h2,h3,h4,h5,h6,span,body,a,form{
		margin: 0;
		padding: 0;
		font:400 14px/36px 'Microsoft Yahei';
		color:#515151;
		box-sizing: border-box;	
	}
	.tabs{
		width:96%;
		text-align: center;
		border-collapse: collapse;
		margin: 0 auto;
		
	}
	.tabs  tr{
		background:#e1ebff;
	}
	
		.tabs  tr td{
		border:1px solid #dddddd;
		color:#6b6b6b;
		font-size: 14px;
	}
	
	.table{
		width:96%;
		text-align: center;
		border-collapse: collapse;
		margin: 0 auto;
	}
		.tabs  tr td input[type='text']{
		width:100%;
		border:0px;
		outline: none;
		text-indent: 5px;
		background:#e1ebff;
	}
	
	
	
	.table thead tr th{
		border:1px solid #dddddd;
		background: #f1f1f1;
		color:#515151;
		font-size:14px;
		font-weight: 400;
	}
	.table tbody tr td{
		border:1px solid #dddddd;
		color:#6b6b6b;
		font-size: 14px;
	}
	.table tbody tr td input[type='text']{
		width:100%;
		border:0px;
		outline: none;
		text-indent: 5px;
	}
	.heads{
		width:96%;
		margin: 0 auto;
		height: 70px;
		overflow: hidden;
		position: relative;
	}
	.heads span{
		margin-top:20px;
		display: block;
		position: relative;
	}
	.heads input{
		border:0;
		width: 275px;
		height: 27px;
		outline: none;
		border-right: 1px solid #dddddd;
	}
	.heads label{
		font-size:16px;
		color: #515151;

	}
	.heads select{
		border:1px solid #dddddd;
		height: 30px;
		width:300px;
		outline: none;
		font-size: 14px;
		color:#6b6b6b;
	}

	.heads .serchs{
		position: absolute;
		top: 6px;
		left: 100px;
		text-indent: 5px;
	}
	.footers{
		width:96%;
		margin: 0 auto;
		overflow: hidden;
	}
    
	.footers input[type='text']{
		height:30px;
		outline: none;
		text-indent: 5px;
		border:1px solid #dddddd;
		width:160px;
	}
	.footers .he input[type='text']{
		width:500px;
	}
	.footers .he,.fo{
		padding:10px 0;
	}
	.mar{
		margin-left:20px;
	}
	.he{
		margin-top:10px;
	}
	.submitbtn{
		display:block;
		width: 240px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background: #3788ff;
		margin: 0 auto;
		border:0;
		color:#ffffff;
		margin-top: 20px;
		border-radius: 4px;
		margin-bottom: 50px;
	}
	.appends{
		cursor:pointer;
		font-size:20px;
		font-weight: 600;
		color: #3788ff;
	}
	.form{
		position: relative;
			}