<!DOCTYPE html>
<html>
<head>
  <title>LotusAdmin极速后台开发框架</title>
  {block name="css"}{/block}
  <link rel="stylesheet" href="__css__/swiper.css">
  <link rel="stylesheet" href="__css__/home.css">
  <meta name="keywords" content="LotusAdmin,php,后台开发框架,史上最美后台开发框架,闻海南" />
  <meta name="description" content="php,极速后台开发框架,史上最美后台开发框架" />
</head>
<body>
{block name="content"}{/block}
</body>
<script src="__js__/jquery.min.js"></script>
<script src="__js__/swiper.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
{block name='js'}{/block}
{block name='script'}{/block}
</html>