<form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
    <input type="text" class="input-text" style="width:250px" placeholder="品牌" name="brand" value="{$Request.param.brand}">
    <input type="text" class="input-text" style="width:250px" placeholder="产品名称" name="name" value="{$Request.param.name}">
    <input type="text" class="input-text" style="width:250px" placeholder="规格型号" name="model" value="{$Request.param.model}">

    <button type="submit" onclick="$('form').attr('action', '{:\\think\\Url::build($Request.action)}')" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    <button class="btn btn-success" type="submit" onclick="$('form').attr('action', '{:\\think\\Url::build(\'excel\')}')"><i class="Hui-iconfont">&#xe641;</i>导出Excel</button>
</form>