<form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
    <input type="text" class="input-text" style="width:250px" placeholder="单据编号" name="name" value="{$Request.param.name}">
    <input type="text" class="input-text" style="width:250px" placeholder="供应商名称" name="supplier" value="{$Request.param.supplier}">
    <input type="date" class="input-text" style="width:250px" placeholder="订单月份" name="start_date" value="{$Request.param.start_date}">
    -
	<input type="date" class="input-text" style="width:250px" placeholder="订单月份" name="end_date" value="{$Request.param.end_date}">

    <button type="submit" onclick="$('form').attr('action', '{:\\think\\Url::build($Request.action)}')" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    <button class="btn btn-success" type="submit" onclick="$('form').attr('action', '{:\\think\\Url::build(\'excel\')}')"><i class="Hui-iconfont">&#xe641;</i>导出Excel</button>
</form>