{"swagger":"2.0","info":{"description":"API\u63a5\u53e3","version":"1.0.0","title":"\u5b9e\u9a8c\u7528\u54c1\u4e4b\u5bb6"},"host":"api.syypzj.com:80","basePath":"\/index.php","tags":[{"name":"login","description":"\u7528\u6237\u9a8c\u8bc1\u76f8\u5173\r"},{"name":"register","description":"\u7528\u6237\u6ce8\u518c\u76f8\u5173\r"},{"name":"user","description":"\u7528\u6237\u4fe1\u606f\u76f8\u5173\u7684\u64cd\u4f5c\r"}],"schemes":["http"],"paths":{"index\r":[],"\/api\/login\/index\r":{"post":{"tags":["login"],"summary":"\u9a8c\u8bc1\u767b\u5f55\r","description":"","operationId":"index\r","produces":["application\/json"],"parameters":[{"name":"phone","in":"formData","required":true,"description":"\u624b\u673a\u53f7\r\n     ","type":"string"},{"name":"password","in":"formData","required":true,"description":"\u5bc6\u7801\r\n     ","type":"string"}],"responses":{"200":{"description":"\u8fd4\u56de\u6570\u636e","schema":{"items":{"properties":{"msg":{"description":"\u8fd4\u56de\u4fe1\u606f","type":"string"}}}}}}}},"sendsms\r":[],"\/api\/register\/sendsms\r":{"get":{"tags":["register"],"summary":"\u53d1\u9001\u9a8c\u8bc1\u7801\r","description":"","operationId":"get\r","produces":["application\/json"],"parameters":[{"name":"phone","in":"query","required":true,"description":"\u624b\u673a\u53f7\r\n     ","type":"string"}],"responses":{"200":{"description":"\u8fd4\u56de\u6570\u636e","schema":{"items":{"properties":{"msg":{"description":"\u8fd4\u56de\u4fe1\u606f","type":"string"}}}}}}}},"\/api\/register\/index\r":{"post":{"tags":["register"],"summary":"\u6ce8\u518c\u63a5\u53e3\r","description":"","operationId":"post\r","produces":["application\/json"],"parameters":[{"name":"role","in":"formData","required":true,"description":"\u4e70\u5bb6\/\u5356\u5bb6\r\n     ","type":"string"},{"name":"phone","in":"formData","required":true,"description":"\u624b\u673a\u53f7\r\n     ","type":"string"},{"name":"company","in":"formData","required":true,"description":"\u5355\u4f4d\u540d\u79f0\r\n     ","type":"string"},{"name":"password","in":"formData","required":true,"description":"\u5bc6\u7801\r\n     ","type":"string"},{"name":"paswdnew","in":"formData","required":true,"description":"\u786e\u8ba4\u5bc6\u7801\r\n     ","type":"string"},{"name":"code","in":"formData","required":true,"description":"\u9a8c\u8bc1\u7801\r\n     ","type":"string"}],"responses":{"200":{"description":"\u8fd4\u56de\u6570\u636e","schema":{"items":{"properties":{"msg":{"description":"\u8fd4\u56de\u4fe1\u606f","type":"string"}}}}}}}},"getEmailVerify\r":[],"\/api\/user\/getEmailVerify\r":{"get":{"tags":["user"],"summary":"\u83b7\u53d6\u90ae\u7bb1\u9a8c\u8bc1\u7801\r","description":"","operationId":"getEmailVerify\r","produces":["application\/json"],"parameters":[{"name":"email","in":"query","required":true,"description":"\u90ae\u7bb1\r\n     ","type":"string"}],"responses":{"200":{"description":"\u8fd4\u56de\u6570\u636e","schema":{"items":{"properties":{"msg":{"description":"\u8fd4\u56de\u4fe1\u606f","type":"string"}}}}}}}},"updatePwd\r":[],"\/api\/user\/updatePwd\r":{"post":{"tags":["user"],"summary":"\u6839\u636e\u9a8c\u8bc1\u7801\u66f4\u6539\u5bc6\u7801\r","description":"","operationId":"updatePwd\r","produces":["application\/json"],"parameters":[{"name":"email","in":"formData","required":true,"description":"\u90ae\u7bb1\r\n     ","type":"string"},{"name":"code","in":"formData","required":true,"description":"\u9a8c\u8bc1\u7801\r\n     ","type":"string"},{"name":"new_pwd","in":"formData","required":true,"description":"\u5bc6\u78011\r\n     ","type":"string"},{"name":"rnew_pwd","in":"formData","required":true,"description":"\u5bc6\u78012\r\n     ","type":"string"}],"responses":{"200":{"description":"\u8fd4\u56de\u6570\u636e","schema":{"items":{"properties":{"msg":{"description":"\u8fd4\u56de\u4fe1\u606f","type":"string"}}}}}}}}},"securityDefinitions":[],"definitions":[],"externalDocs":{"description":"Find out more about Swagger","url":"http:\/\/swagger.io"}}