{include file='public/head'}
<body>
<style type="text/css" media="screen">
header {
    color: black;
}
</style>
<div class="x-body" >
	<form class="layui-form" id='myForm' method="post" action="addPurchase">
	<div class="heads">
	<span><label>供应商名称：</label>
	<!-- <select><option>我是下拉</option><option>我是下拉</option></select>-->
		  <input type="text" class="serchs" name="sell_name"> 
	      <label style="margin-left: 500px;">供应商名称：</label>
	      <input type="date" style="border: 1px solid #dddddd" name="date">
	</span>
</div>
<table class="table">
	<thead>
		<tr>
			<th>序号</th>
			<th>品名规格</th>
			<th>单位</th>
			<th>货品类别</th>
			<th>数量</th>
			<th>进货价</th>
			<th>金额</th>
			<th>备注</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><p></p></td>
			<td><input type="text" name="name[]" /></td>
			<td><input type="text" name="unit[]"></td>
			<td><input type="text" name="type[]"></td>
			<td><input type="text" name="num[]"></td>
			<td><input type="text" name="price[]" class="price" blur="computPrice(this)"></td>
			<td><input type="text" readonly="true"></td>
			<td><input type="text" name="remark[]"></td>
		</tr>
		<tr>
			<td><p></p></td>
			<td><input type="text" name="name[]" /></td>
			<td><input type="text" name="unit[]"></td>
			<td><input type="text" name="type[]"></td>
			<td><input type="text" name="num[]"></td>
			<td><input type="text" name="price[]" class="price"></td>
			<td><input type="text"></td>
			<td><input type="text" name="remark[]"></td>
		</tr>
        <tr>
			<td><p></p></td>
			<td><input type="text" name="name[]" /></td>
			<td><input type="text" name="unit[]"></td>
			<td><input type="text" name="type[]"></td>
			<td><input type="text" name="num[]"></td>
			<td><input type="text" name="price[]" class="price"></td>
			<td><input type="text" readonly="true"></td>
			<td><input type="text" name="remark[]"></td>
		</tr>
        <tr>
			<td><p></p></td>
			<td><input type="text" name="name[]" /></td>
			<td><input type="text" name="unit[]"></td>
			<td><input type="text" name="type[]"></td>
			<td><input type="text" name="num[]"></td>
			<td><input type="text" name="price[]" class="price"></td>
			<td><input type="text" readonly="true"></td>
			<td><input type="text" name="remark[]"></td>
		</tr>
	</tbody>
</table>
<!--按钮-->
<table class="tabs">
       	<tr style="background: #ffffff;">
			<td colspan="8"><p class="appends">新增+</p></td>
		</tr>
        <tr>
			<td><p>合计</p></td>
			<td><input type="text" disabled></td>
			<td><input type="text" disabled></td>
			<td><input type="text" disabled></td>
			<td><input type="text" class="getNum" onClick="getNum()" readonly="true"></td>
			<td><input type="text" disabled></td>
			<td><input type="text" class="getPrice" onClick="getPrice()" readonly="true" style="cursor:pointer;"></td>
			<td><input type="text"></td>
		</tr>
</table>		
	<div class="footers">
		<div class="he"><label>说明：</label><input type="text" name="remarks"></div>
		<div class="fo">
		     <label>折后应付金额：</label><input type="text" name="rate_money" />
		     <label class="mar">折扣率：</label><input type="text" name="rate">%
		     <label class="mar">本次付款：</label><input type="text" name="pay_money">
		     <label class="mar">结算账户：</label><input type="text"><input type="hidden" name="total_money" /><input type="hidden" name="total_num" />
	    </div>
	     <div class="layui-form-item" style="margin-top:50px">
                <div class="layui-input-block">
                    <button class="layui-btn" id="toSubmit" lay-filter="toSubmit" lay-submit=""  style="margin-left: 33%">
                        提交
                    </button>
                    <button class="layui-btn layui-btn-primary" id="reset" type="reset">
                        重置
                    </button>
                </div>
            </div>
	</div>
	</form>
</div>
</body>

<script>
	
	window.onload=getPrice();
	window.onload=getNum();
	//统计方法
	function getPrice(){
		var a=0;
		for(var i=1;i<$(".table").find("tr").length;i++){
			$(".table tr:eq("+i+") td:eq(0) p").text(i);
			var a=a+Number($(".table tr:eq("+i+") td:eq(6) input").val());
			
		}
		$(".getPrice").val("￥"+a);
		$("input[name='total_money']").val(a);
		$("input[name='rate_money']").val(a);
		if ($("input[name='rate']").val() == '') {
			$("input[name='rate']").val(100);
		}
		$("input[name='pay_money']").val(a);
	}

	function getNum(){
		var a=0;
		for(var i=1;i<$(".table").find("tr").length;i++){
			$(".table tr:eq("+i+") td:eq(0) p").text(i);
			var a=a+Number($(".table tr:eq("+i+") td:eq(4) input").val());
		}
		$(".getNum").val(a);
		$("input[name='total_num']").val(a);
	}
	$('.price').on('change', function(){
		var num = $(this).parent('td').prev('td').find('input').val();
		num = Number(num);
		var price = Number($(this).val());
		$(this).parent('td').next('td').find('input').val(num * price);
		getPrice();
		getNum();
	})
	$(".appends").click(function(){
		$(".table tbody").append('<tr><td><p></p></td><td><input type="text" name="name[]" /></td><td><input type="text" name="unit[]"></td><td><input type="text" name="type[]"></td><td><input type="text" name="num[]"></td><td><input type="text" name="price[]" class="price"></td><td><input type="text" readonly="true"></td><td><input type="text" name="remark[]"></td></tr>');
		getPrice();
	 	$('.price').on('change', function(){
			var num = $(this).parent('td').prev('td').find('input').val();
			num = Number(num);
			var price = Number($(this).val());
			$(this).parent('td').next('td').find('input').val(num * price);
			getPrice();
			getNum();
		})
	});
</script>
{include file='public/foot'}
