{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    {include file='sell/form' /}
    {tp:menu menu='add,recycleBin' /}<span class="r">共有数据：<strong>{$count}</strong> 条</span> 
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            {include file="sell/th" /}
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            {include file="sell/td" /}
            <td class="f-14">
            
                {tp:menu menu='sstore,sprintf,edit,sdelete' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page}</div>
</div>
{/block}









